.requis {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px;
}

.highlight {
  font-weight: 500;
}

.second-click {
  background-color: red;
}

.input-cell {
  display: none !important;
}
.text-cell {
  display: inline !important;
}

.editMode .input-cell {
  display: inline-block !important;
  width: 100%;
}
.editMode .text-cell {
  display: none !important;
}
