.searchbar {
    display: flex;
    flex-direction: column;
}

.top-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.page-description {
    display: flex;
    flex-direction: column;
}

.requis {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 5px;
}

.highlight {
    font-weight: 500;
}

.second-click {
    background-color: red;
}