<div class="top-bar">
  <div class="page-description">
    <h1>Nouvelle réservation</h1>
  </div>
</div>

<div class="page">
  <form [formGroup]="reservationsForm" (ngSubmit)="onSubmit()" class="form-container">
    <mat-form-field class="autocomplete">
      <mat-label>Client</mat-label>
      <input
        matInput
        [formControl]="reservationsControlClient"
        required
        [matAutocomplete]="autoClient"
      />
      <mat-autocomplete #autoClient="matAutocomplete" [displayWith]="displayClient">
        @for (option of filteredOptionsClient | async; track option) {
          <mat-option [value]="option">{{ option.nom }}</mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Bateau</mat-label>
      <input
        matInput
        [formControl]="reservationsControlBoat"
        required
        [matAutocomplete]="autoBoat"
      />
      <mat-autocomplete #autoBoat="matAutocomplete" [displayWith]="displayBoat">
        @for (option of filteredOptionsBoat | async; track option) {
          <mat-option [value]="option">{{ option.nom }}</mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Date de début</mat-label>
      <input matInput [matDatepicker]="datepickerDebut" formControlName="dateDebut" required />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="datepickerDebut"></mat-datepicker-toggle>
      <mat-datepicker #datepickerDebut>
        <mat-datepicker-actions>
          <button matButton matDatepickerCancel>Cancel</button>
          <button matButton="elevated" matDatepickerApply>Apply</button>
        </mat-datepicker-actions>
      </mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Date de fin</mat-label>
      <input matInput [matDatepicker]="datepickerFin" formControlName="dateFin" required />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="datepickerFin"></mat-datepicker-toggle>
      <mat-datepicker #datepickerFin>
        <mat-datepicker-actions>
          <button matButton matDatepickerCancel>Cancel</button>
          <button matButton="elevated" matDatepickerApply>Apply</button>
        </mat-datepicker-actions>
      </mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Nombre de personnes</mat-label>
      <input matInput formControlName="nombrePersonnes" required />
    </mat-form-field>

    <button mat-button type="submit">Réserver</button>
  </form>

  <div class="recapitulatif">
    <div class="title">
      <h1>Récapitulatif</h1>
      <span>Calculé automatiquement</span>
    </div>
    <div class="calculs">
      <div class="item">
        <span>Client</span>
        <span>{{ reservationsForm.value?.client.nom || '—' }}</span>
      </div>
      <div class="item">
        <span>Bateau</span>
        <span>{{ reservationsForm.value?.bateau.nom || '—' }}</span>
      </div>
      <div class="item">
        <span>Période</span>
        <span>
          @if (reservationsForm.value?.dateDebut && reservationsForm.value?.dateFin) {
            Du {{ reservationsForm.value.dateDebut | date: 'dd/MM/yyyy' }} au
            {{ reservationsForm.value.dateFin | date: 'dd/MM/yyyy' }}
          } @else {
            —
          }
        </span>
      </div>
      <div class="item">
        <span>Durée</span>
        <span>
          @if (reservationsForm.value?.dateDebut && reservationsForm.value?.dateFin) {
            @if (reservationsForm.value?.dateDebut > reservationsForm.value?.dateFin) {
              La date de fin doit être postérieure à la date de début
            } @else {
              {{
                getDuree(reservationsForm.value?.dateDebut, reservationsForm.value?.dateFin) +
                  ' jours'
              }}
            }
          } @else {
            —
          }
        </span>
      </div>
      <div class="item">
        <span>Personnes</span>
        <span>{{ reservationsForm.value?.nombrePersonnes || '—' }}</span>
      </div>
      <div class="separator"></div>
      <div class="item">
        <span>Tarif journalier</span>
        <span>{{ reservationsForm.value?.bateau.tarif || '—' }}</span>
      </div>
      <div class="item">
        <span>Prix total</span>
        <span>
          @if (
            reservationsForm.value?.dateDebut &&
            reservationsForm.value?.dateFin &&
            reservationsForm.value?.bateau &&
            reservationsForm.value?.client
          ) {
            {{
              getPrixTotal(
                getDuree(reservationsForm.value?.dateDebut, reservationsForm.value?.dateFin),
                reservationsForm.value?.bateau.tarif
              ) | currency: 'EUR' : 'symbol' : '1.0-0' : 'fr-FR'
            }}
          } @else {
            —
          }
        </span>
      </div>
      <div class="item">
        <span>Caution</span>
        <span>{{ reservationsForm.value?.bateau.caution || '—' }}</span>
      </div>
    </div>
  </div>
</div>
