@use '../../../variables';

.layout-container {
  height: 100%;
  width: 100%;
}

mat-sidenav-container {
  width: 100%;
  background-color: variables.$couleur-fond;
}

mat-sidenav {
  background-color: variables.$couleur-fond;
}

.app {
  margin: 2% 2%;
}
